*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: #212529;
    color: #272a38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(161, 161, 180);
    padding: 20px;
    box-shadow: 0 6px 6px rgba(0,0,0, 0.8)
}

label{
    font-weight: bold;
}

label , input, p{
    margin-bottom: 5px;
}

input{
    padding: 5px;
}

input[type="submit"]{
    background: rgb(47, 47, 255);
    color: #faf9f9;
    cursor: pointer;
}

input::placeholder{
    color: rgb(23, 23, 26);
}

.container{
    display: flex;
    flex-direction: column;
}

.container-sexe{
    display: flex;
    justify-content: space-around;
}

.container-1{
    font-weight: bold;
}

.container-sexe label{
    font-weight: normal;
}